@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
}

body{
  background-color: #333;
}

/* CART */
.cart-quantity{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.cart-btn{
    position: relative;
}

.cart-btn:hover, .cart-btn:focus, .cart-btn:active, .cart-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}
  
  .dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  .btn-hover-light {
    background-color: var(--bs-white);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-blue);
    background-color: var(--bs-light);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
  }
  .cal-btn[disabled] {
    border: 0;
    opacity: .5;
  }
  
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }


  /* Landing Area */
  .section-top{
    width: 100%;
    height: 50vh;
    /* overflow: hidden; */
    background-image: url('/static/images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: slide 20s infinite;
}

.landing-cover{
  width: 100% !important;
  height: 100% !important;
  position: relative;
  background-color: rgba(0, 0, 0, 0.45);
}

.landing-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-align: center;
}

.landing-content .banner-header {
    color: whitesmoke;
}

@keyframes slide {
    0%{
      background-image: url('/static/images/hero1.jpg');
    }

    50%{
      background-image: url('/static/images/hero2.jpg');

    }
}

.album .card .img-fluid{
  height: 25em;
}

@media (max-width: 576px) {
  .album .card .img-fluid{
    height: 10em;
  }
}

@media (max-width: 768px) {
  .album .card .img-fluid{
    height: 15em;
  }
}


@media (max-width: 992px) {
  .album .card .img-fluid{
    height: 17.5em;
  }
}
